<header>
    <div>
        <img class="headerlogo pointer" src="img/logo.png">
    </div>
    <div>
        <input class="headerinput dnone2" type="search" placeholder="Suche...">
    </div>
    <div>
        <img class="headerimage pointer" src="img/iconheader1.png">
        <img class="headerimage pointer" src="img/iconheader2.png">
        <img class="headerimage pointer" src="img/iconheader3.png">
        <img class="headerimage pointer" src="img/iconheader4.png">
        <img class="headerimage pointer" src="img/iconheader5.png">
        <img class="headerimage pointer borderradius" src="img/myaccount.jpg">
    </div>
</header>